$color-primary: #626aa0;
$color-secondary: #b43ce4;
$color-tertiary: #626aa0;
$color-warning: #9fa5d5 !default;

$background-color: #2b2e54;
$font-family: 'Orbitron', sans-serif;
$font-size: 17px;
$font-color: #adb4e4;
$font-color-light: #adb4e4;

$header-height: 88px;

$workarea-background-color: #12295f;
$workarea-min-height: calc(100vh - 136px);
